@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .team > .container {
    max-width: 588px;
  }
  .customers > .container {
    max-width: 588px;
  }
  .footer > .container {
    max-width: 588px;
  }
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-header {
    text-align: left;
  }
  .team-list {
    gap: 64px 24px;
  }

  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-container {
    gap: 72px 24px;
  }
  .subscribe-input {
    width: 264px;
  }
  .subscribe-container {
    justify-content: left;
    align-items: flex-start;
  }
  .subscribe-form {
    flex-direction: row;
  }
  .footer-container {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .team > .container {
    max-width: 1158px;
  }
  .customers > .container {
    max-width: 1158px;
  }
  .footer > .container {
    max-width: 1158px;
  }

  .advantages {
    padding: 120px 0;
  }
  .advantages-list {
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-icon-box {
    width: auto;
    height: auto;
    border-radius: 4px;
    background: var(--light-mode-background);
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px 100px;
    display: flex;
  }
  .advantages-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: none;
  }
  .advantages-description {
    font-weight: 400;
  }
  .works {
    display: block;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
  .customers-list {
    gap: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .customers-item {
    width: calc((100% - 24px * 5) / 6);
  }
  .footer-container {
    justify-content: normal;
    flex-wrap: nowrap;
    gap: 0;
  }
  .socialmedia-container {
    margin-left: 120px;
    margin-right: 80px;
  }
}
