@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .modal {
    width: 392px;
    height: 584px;
  }
  .mobile-address-phone {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .header .navigation-list {
    display: none;
  }
  .header .address {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .team > .container {
    max-width: 588px;
  }
  .customers > .container {
    max-width: 588px;
  }
  .footer > .container {
    max-width: 588px;
  }
  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .order-button {
    margin-top: 36px;
  }
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-header {
    text-align: left;
  }
  .team-list {
    gap: 64px 24px;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-container {
    gap: 72px 24px;
  }
  .subscribe-input {
    width: 264px;
  }
  .subscribe-container {
    justify-content: left;
    align-items: flex-start;
  }
  .subscribe-form {
    flex-direction: row;
  }
  .subscribe-button {
    margin: 0;
  }
  .footer-container {
    justify-content: flex-start;
  }
  .modal {
    padding: 72px 24px 16px 24px;
  }
  .mobile-menu-close {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .filter-list {
    width: 597px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    justify-content: space-between;
    gap: 24px;
  }
  .filter-button {
    padding: 12px 24px;
  }
  .projects-list {
    gap: 72px 24px;
    flex-direction: row;
  }
  .projects-item {
    width: calc((100% - 24px) / 2);
  }
  .project-cover-wrap img {
    width: 356px;
    height: 300px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroimg.jpg);
  }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx)
{
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroimg@2.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .team > .container {
    max-width: 1158px;
  }
  .customers > .container {
    max-width: 1158px;
  }
  .footer > .container {
    max-width: 1158px;
  }
  .order-button {
    margin-top: 48px;
  }
  .advantages {
    padding: 120px 0;
  }
  .advantages-list {
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-icon-box {
    width: auto;
    height: auto;
    border-radius: 4px;
    background: var(--light-mode-background);
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px 100px;
    display: flex;
  }
  .advantages-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: none;
  }
  .advantages-description {
    font-weight: 400;
  }
  .works {
    display: block;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
  .customers-list {
    gap: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .customers-item {
    width: calc((100% - 24px * 5) / 6);
  }
  .footer-container {
    justify-content: normal;
    flex-wrap: nowrap;
    gap: 0;
  }
  .socialmedia-container {
    margin-left: 120px;
    margin-right: 80px;
  }
  .subscribe-input {
    border: 1px solid rgba(255, 255, 255);
  }
  .subscribe-input::placeholder {
    color: rgba(255, 255, 255);
  }
  .motto {
    width: 264px;
  }
  .modal {
    width: 408px;
    margin: 80px auto;
    padding: 72px 24px 24px 24px;
  }
  .modal-input {
    padding-left: 38px;
  }
  .logo {
    margin-right: 76px;
  }
  .header-navigation {
    margin-right: 332px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .projects-list {
    gap: 48px 24px;
  }
  .projects-item {
    width: calc((100% - 48px) / 3);
  }
  .project-cover-wrap img {
    width: 360px;
    height: 300px;
  }
  .filter-list {
    margin-bottom: 72px;
  }
  .filters {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
